@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

/* Базовые стили */
html, body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
}

/* Стиль для контейнеров */
.container {
  width: 100%;
  text-align: center;
}

.copy-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

p {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.2px;
  margin: 0 0 20px 0;
}

.link {
  color: #fff; 
  text-decoration: none; 
  transition: color 0.5s ease;
}

.link:hover {
  color: #ffe500;
}

/* Анимация мерцающего курсора */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Стиль для ручки (handle) */
.handle {
  background: #ffe500;
  width: 14px;
  height: 30px;
  top: 0;
  left: 0;
  margin-top: 1px;
  position: absolute;
  animation: blink 0.9s step-end infinite;
  transition: left 0.2s ease, top 0.2s ease;
}

/* Стиль для SVG */
#cb-replay {
  fill: #666;
  width: 20px;
  margin: 15px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: inherit;
  cursor: pointer;
}

#cb-replay:hover {
  fill: #888;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  p {
    font-size: 18px;
  }

  .container {
    padding: 0 20px;
  }

  #cb-replay {
    width: 30px; /* Увеличение размера SVG на мобильных */
  }
  
  .handle {
    width: 10px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 16px;
  }

  .container {
    padding: 0 10px;
  }

  .handle {
    width: 10px;
    height: 20px;
  }
}
